// @import '~leaflet/dist/leaflet.css';

// 根據視窗縮放
@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

// 處理地圖縮放顯示
body {
    overflow: hidden;
}

// .highlight {
//   background: #e9ffe3;
// }

.toolbox {
  @include size(100%, 100vh);
  background-color: #ffeee4;
  overflow-y: auto;
  a {
    cursor: pointer;
  }
  .select-list {
  background-color: #ffeee4;
  }
  .list-group {
  background-color: #ffeee4;
  .list-group-item {
    background-color: #ffeee4;
    }
  }
  @media (max-width: 575.98px) {
    @include size(100%, 100vh);
    .select-list {
       position: relative;
    }
  }
}

#close-aside-btn {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
  cursor: pointer;
  // 圖示跳動效果
  @keyframes move {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  animation: move 1s alternate infinite;
}

.hide {
//   transform: translateX(-100%);
//   max-height: 100vh;
//   overflow: visible;
  display: none;
}

.open-aside-btn {
  position: fixed;
  bottom: 11.5%;
  right: 10px;
  z-index: 999;
  padding: 0px 8px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(#000, 0.5);
  box-shadow: 0px 0px 5px rgba(#000, 0.2);
  color: #333;
  font-size: 24px;
  cursor: pointer;
}



// modal
#detail-info {
  color: #007bff;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.2);
  }
}

#infoModal {
  .modal-body {
    max-height: 80vh;
    overflow: scroll;
  }
  ul {
    // inside outside記號是否應該被視為是文字的一部份
    list-style: none inside;
  }
  img {
    width: 75%;
    display: block;
    margin: auto;
  }
}

//地圖產生後自動有的類別 leaflet-xxx

#map {
  // 給地圖高度滿版
  @include size(100%, 100vh);
  // overflow: hidden;
  .leaflet-overlay-pane {
    // 藥局圓圈的飽和度
    filter: saturate(1.5);
  }
  // .leaflet-tile-pane {
  // OSM 圖資的對比與亮度 grayscale 灰階 contrast 對比 brightness 亮度
  //   filter: grayscale(0.7) contrast(0.5) brightness(0.7);
  // }
  .leaflet-div-icon {
    background-color: transparent;
  }
  // popup 設定
  .leaflet-popup-content-wrapper {
    font-family: 'Microsoft JhengHei', 'Segoe UI', 'Roboto', 'Helvetica Neue',
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
    border: 1px solid #000;
    border-bottom: none;
    font-size: 1rem;
  }
  @media (max-width: 575.98px) {
    .leaflet-popup-content-wrapper {
    font-size: 0.5rem;
  }
  }
}

// map 說明

#legend {
  position: absolute;
  bottom: 5%;
  left: 26%;
  z-index: 999;
  padding: 10px;
  color: #333;
  background-color: rgba(#fff, 0.7);
  border: 1px solid rgba(#000, 0.5);
  box-shadow: 0px 0px 5px rgba(#000, 0.2);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  list-style: none;

  @media (max-width: 575.98px) {
    left: 2%;
    bottom: 3%;
    opacity: 0;
  }
}

// .marker-cluster {
//   @include size(50px);
//   border-radius: 50%;
//   line-height: 50px;
//   font-size: 14px;
//   text-align: center;
//   font-weight: bold;
//   border: 1.5px solid rgba(#000, 0.7);
//   background-color: rgba(#fff, 0.5);
// }